<footer class="mt-5 text-center">
	<p>
		Todos los derechos reservados<br><br>
		Desarrollado por : <br> <strong>Diego Alejandro Arbelaez <br> Luis Eduardo Oliveros <br> Sammy Ariza Rangel. </strong>
	</p>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>